PORT=5000
MONGO_URI=mongodb+srv://gauravahlawat:6MDoE5eBlFwpehFt@stocker-backend.mn6fwei.mongodb.net/socialApp?retryWrites=true&w=majority
JWT_SECRET=g7k2x9p1m4n8q3r6s5t0v
JWT_REFRESH_SECRET=h8j3y6w1c5f9b2d4e7z0a
CLOUDINARY_CLOUD_NAME=desty3pfm
CLOUDINARY_API_KEY=383775565238574
CLOUDINARY_API_SECRET=ZpHGdimawhC-_7yFfHu7T0gKALE
CLIENT_URL=http://localhost:5173
